@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: 10rem; */
}


.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}